
.presentationContent {
  width: 100%;
  margin-top: 30px;
}

.presentationImageContainer {
  height: 200px;
}

.presentationImage {
  border-radius: 50%;
  min-width: 150px;  
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  box-shadow: 0px 0px 30px #333;
  border: 2px solid #fff;

}

.nameText {
  font-family: 'Fugaz One';
  color: white;
  font-size: 30px;
  margin: auto;
}


.contactRow {
  margin-top: 10px;
}

.contactIcon {
  color: #fff;
  font-size: 25px;
}

.contactCol {
  text-align: center;
}