
.presentationContent {
  width: 100%;
}

.presentationImageContainer {
  height: 200px;
}

.presentationImage {
  border-radius: 50%;
  min-width: 150px;  
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  box-shadow: 0px 0px 30px #333;
  border: 2px solid #fff;
}

.nameText {
  font-family: 'Fugaz One';
  color: #fff;
  font-size: 30px;
  margin: auto;
  line-height: 35px;
}

.contactRow {
  margin-top: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: white;
}

.contactIcon {
  color: #fff;
  font-size: 25px;
}

.contactCol {
  text-align: center;
  cursor: pointer;
}

.skillsList {
  padding: 0;
}
.skillItem {
  min-width: 100px;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
}

.skillMeterContainer {
  height: 10px;
  width: 25vw;
  background: gray;
  margin: 5px;
  margin-bottom: 10px;
}

@keyframes mymove {
  0% {transform: scale(1, 1);}
  50% {transform: scale(100, 1);}
  100% {transform: scale(1, 1);}
}

.skillMeter {
  height: 10px;
  width: 1px;
  transform-origin: 0px 0px;
  background: red;
  animation: mymove 5s infinite;
}