
.presentationContent {
  width: 100%;
}

.presentationImageContainer {
  height: 200px;
}

.presentationImage {
  border-radius: 50%;
  min-width: 150px;  
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
  box-shadow: 0px 0px 30px #333;
  border: 2px solid #fff;
}

.nameText {
  font-family: 'Fugaz One';
  color: #fff;
  font-size: 30px;
  margin: auto;
  line-height: 35px;
}

.contactRow {
  margin-top: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: white;
}

.contactIcon {
  color: #fff;
  font-size: 25px;
}

.contactCol {
  text-align: center;
  cursor: pointer;
}

.skillsList {
  padding: 0;
}
.skillItem {
  width: 100%;
  list-style-type: none;
  float: left;
  padding: 0;
  margin: 0;
}



