
.presentationContent {
  width: 100%;
}

.nameText {
  font-family: 'Fugaz One';
  color: #fff;
  font-size: 30px;
  margin: auto;
  line-height: 35px;
}

.contactRow {
  margin-top: 10px;
  padding-left: 10vw;
  padding-right: 10vw;
  color: white;
}

.contactIcon {
  color: #fff;
  font-size: 25px;
}

.contactCol {
  text-align: center;
  cursor: pointer;
}

.skillsList {
  padding: 0;
  width: 100%;
}

.skillItem {
  width: 100%;
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}



