.headerContent {
  position: relative;
  /* background: linear-gradient(rgba(132, 112, 206, 1.0) 30%, rgba(126, 75, 192, 0.94) 90%); */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  min-height: 500px;
  margin-bottom: 20px;
  height: 500px;
  /* transition: all 0.5s ease; */
  box-shadow: inset 0 0 200px rgba(0,0,0,1.0);
}

.headerContent:active {
  height: 1000px;
  transition: all 0.5s ease;
}

.presentationGrid {
  position: absolute;
  height: 100%;
  top: 0px;
  background: linear-gradient(to top, rgba(0, 153, 142, 0.6), rgba(0, 238, 133, 0.6));
}

.presentationRow {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.presentation {
  margin-top: 35px;
  color: #fff;
  font-family: 'Quicksand';
  font-style: oblique;
  font-size:calc(12px + 1.2vw);
  line-height:calc(30px + 1.0vw);
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;

  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear; */
}

.arrowRow {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .top{
    border-left: 70vw solid transparent;
  }
}

@media only screen and (max-width: 36em) {
  .presentationRow{
    height: 700px;
  }
  .headerContent{
    min-height: 700px;
  }
}