:root {
  --rot-x: 0deg;
  --rot-y: 0deg;
}

.portfolioItemContainer {
  display: flex;
  float:left;
	align-items: stretch;
	align-content: stretch;
  font-family: 'Fugaz One';
  color: white;
  text-align: center;
  position: relative;
  justify-content: center;
  opacity: 1;
  padding: 8px;
  margin: 0px;
}

.portfolioItemContainer:focus {outline:0;}

.portfolioItemContainer > img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  opacity: 0.95;
  /* transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1.0);
  -webkit-transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1.0);
  -ms-transform: perspective(600px) rotateX(0deg) rotateY(0deg) scale(1.0); */
  transition: transform .25s, box-shadow .25s;
  transition-timing-function: cubic-bezier(0.0,0.01,0.0,0.1);
  /* filter: grayscale(0.0) contrast(0.7) brightness(0.8); */
  border-radius: 5px;
}

.portfolioItemContainer > .header {
  top: 35%;
  font-size: 30px;
  transform: scale(0.9);
  text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
  position:absolute;
  width: 100%;
  opacity: 0.0;
  transition: transform .2s, opacity 0.35;
}


.portfolioItemContainer > .portfolioItemDescription {
  font-family: 'Quicksand';
  top: 50%;
  font-size: 18px;
  position: absolute;
  width: calc(100% - 14px);
  opacity: 0;
  transition: opacity .05s;
  pointer-events: none;
  padding-left: 7px;
  padding-right: 7px;
}

.contaportfolioItemContaineriner:hover {
  cursor: pointer;
}

.portfolioItemContainer:hover > img {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
  transform: scale(1.01);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
	transition: transform 0.25s, box-shadow 0.3s;
  transition-timing-function: cubic-bezier(0.0,0.1,0.0,1);
}

.portfolioItemContainer:hover > .header {
  transition: opacity .35s, transform .2s;
  transform: scale(1.0);
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  opacity: 1.0;
}

.portfolioItemContainer:hover > .portfolioItemDescription {
  opacity: 0.9;
  text-shadow: 0 0px 3px rgba(0, 0, 0, 1.0);
	transition: opacity .25s;
}

.portfolioItemImage {
  width: 100%;
  height: 100%;
}


.portfolioItemForeground {
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute;
  background: linear-gradient(to top, rgba(0, 153, 142, 0.7), rgba(0, 238, 133, 0.1));
  overflow: hidden;
  z-index: 10;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.25s;
}

.portfolioItemContainer:hover > .portfolioItemForeground {
  opacity: 0.0;
}