
.mediaHolder{
  height: 100%;
  width: 100%;
}

.modalVideo{
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../../images/loader.gif');
  background-repeat: no-repeat;
  background-position: center;
}
