.top{
  background:#fff;
  border-bottom: 70px solid rgba(132, 112, 206, 1.0);
  border-left: 700px solid transparent;
}

.backButton {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  z-index: 2;
  
}

.headerContent {
  position: relative;
  background: linear-gradient(rgba(132, 112, 206, 1.0) 30%, rgba(126, 75, 192, 0.94) 90%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  min-height: 500px;
  margin-bottom: 20px;
  height: fit-content;
}

.presentationRow {
  height: 500px;  
}

.presentation{
  margin-top: 35px;
  color: #fff;
  font-family: 'Quicksand';
  font-style: oblique;
  font-size:calc(12px + 1.2vw);
  line-height:calc(30px + 1.0vw);
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}
@media only screen and (max-width: 1000px) {
  .top{
    border-left: 70vw solid transparent;
  }
}

@media only screen and (max-width: 36em) {
  .presentationRow{
    height: 700px;
  }
  .headerContent{
    min-height: 700px;
  }
}