.filterPanelContainer {
  max-width: 1280px;
  margin: auto;
  padding-bottom: 10px;
}

.tagBox {
  margin-left: 5px;
  margin-right: 5px;
  font-family: roboto;
  font-size: 13px;
  line-height: 30px;
  /* background: #f9f9f9; */

  border-radius: 15px;
  padding: 10px;
  top: 300px;
  bottom: 300px;
  cursor: pointer;
}