body{
  opacity:1.0;
  margin: 0px; 
  -webkit-font-smoothing: antialiased;
  animation: fadein 1.6s;
}

#container{
  width: 100%; height: 100%; margin: 0px; position: fixed;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}