.portfolioModalContent {
  position: absolute;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  max-width: 900px;
  margin: 50px;
  background: #fff;
  outline:0;
  border-radius: 5px;
  box-shadow: 0px 0px 50px #111;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 900px;
}

.topImageContent {
  padding: 0px;
  height: 200px;
  height: calc(3vw + 120px);  
  text-align: center;
  justify-content: center;
}

.topModalImage {
  width:100%;
  height:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  filter: blur(0px) contrast(0.5);
  opacity: 1;
}

.portfolioModalHeader{
  font-family: 'Fugaz One';
  position: absolute;
  top: 20px;
  color: rgb(255, 255, 255);
  width:100%;
  font-size: calc(2vw + 22px);
}

.modalDescription{
  font-family: 'Open Sans';
  padding: 20px;
  
}