.portfolioModalContent {
  position: absolute;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  max-width: 900px;
  margin: 50px;
  background: #fff;
  outline:0;
  border-radius: 5px;
  box-shadow: 0px 0px 50px #111;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  max-width: 600px;
}

.topImageContent {
  padding: 0px;
  height: 400px;
}

.topModalImage {
  width:100%;
  height:100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
  filter: blur(0px) contrast(0.8);
  opacity: 1;
}

.portfolioModalHeader{
  font-family: 'Fugaz One';
  position: relative;
  top: calc(0.05vw + 7px);
  color: rgb(78, 78, 78);
  width:100%;
  padding: 0px;
  padding-left: 20px;
  font-size: calc(0.8vw + 22px);
}

.modalDescription{
  font-family: 'Quicksand', 'Open Sans';
  padding: 20px;
  padding-top: 0px;
  
}
